mysqlclient==2.2.0
redis==5.0.1
celery==5.3.4
flower==2.0.1
psycopg2-binary==2.9.9
sqlalchemy-redshift==0.8.14
snowflake-sqlalchemy==1.5.0
pyhive[hive]==0.7.0
pyhive[presto]==0.7.0
sqlalchemy-bigquery==1.8.0
pandas==2.1.4
pyarrow==14.0.1
